.container {
  padding-top: 40px;
  padding-left: 40px;
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 346px;
  justify-content: center;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  border: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

button:disabled {
  background-color: #cfcfcf;
  color: #989898;
  border: transparent;
}

button:hover {
  background-color: #6c8cff;
}

.input-text {
  width: 272px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #808080;
  padding: 16px 8px;
  margin: 0 auto;
  margin-bottom: 32px;
  margin-right: 8px;
}

.input-text:hover {
  border: 1px solid #000;
}

.input-text:disabled {
  background-color: #fafafa;
  border: 1px solid #808080;
  color: #808080;
}

.back-link {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 10px;
}

.flatpickr-calendar {
  background: #f5f5f5;
}

.flatpickr-day.today {
  border-color: #4e75ff;
  background-color: #fff;
}

.flatpickr-day.selected {
  background: #4e75ff;
  border-color: #4e75ff;
}

.flatpickr-day:hover {
  background: #c1c1c1;
  border-color: #c1c1c1;
}
